body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

.table-header {
    font-weight: bolder;
}

.block-link {
    padding: 20px 0;
}

.row {
    text-align: center;
}

.category-list {
    padding: 10px 0;
    text-align: center;
}

.navbar {
    background-color: white;
}

.jumbotron {
    text-align: center;
    background-color: #A0D8FF;
}

.jumbotron small {
    display: block;
    margin-bottom: 40px;
}

footer {
    padding: 0 25px;
    font-size: .9em;
}

.front-page-text {
    font-size: 2em;
    font-weight: 300;
}

.emphasized-words {
    font-size: 1.2em;
    font-weight: 200;
    font-style: italic;
    color: #78a9cc;
}

.front-page-text strong {
    color: #6994b2;
}

.table>thead>tr>th {
    border: none;
}

table {
    margin-top: 30px;
}

table *{
    text-align: center;
}

.table>tbody>tr>td {
    border-top: 1px solid #A0D8FF;
}

table thead {
    background-color: #A0D8FF;
}

.embed-item {
    margin: 40px 0 20px;
}

.display-name {
    color: darkcyan;
}