@model IEnumerable<EruditionJournal.Models.Publication>
@{
    ViewBag.Title = "Publications";
}

<div class="container">
    <h2>Publications</h2>

    <div class="block-link">
        <a href="/Publication/Create" class="btn btn-default btn-sm">
            Submit new publication
        </a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Publication in Model)
            {
                <tr>
                    <td>
                        <a href="/Publication/Detail/@(Publication.PublicationId)">@(Publication.PublicationTitle)</a>
                    </td>
                    <td>
                        <a href="/Publisher/Detail/@Publication.Publisher.PublisherId">@(Publication.Publisher.PublisherFName) @(Publication.Publisher.PublisherLName)</a>
                    </td>
                    <td>
                        <a href="/Category/Detail/@Publication.Category.CategoryId">@(Publication.Category.CategoryName)</a>
                    </td>
                </tr>
             }
        </tbody>
    </table>
</div>