@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Erudition Online Journal
        <small>Home for free academic papers</small>
    </h1>
    <p>
        <a href="/Publication" class="btn btn-primary">Browse Articles</a>
        <a href="/Publisher" class="btn btn-default">Browse Publishers</a>
    </p>
</div>

<div class="container text-center front-page-text">
    <div class="col-md-6">
        <p>
            <span class="emphasized-words">Find</span> thousands of high quality academic papers from experts and researchers all around the world.
        </p>
        <p>And it's completely <strong>free</strong></p>
    </div>
    <div class="col-md-6">
        <p>
            <span class="emphasized-words">Participate</span> on our mission to distribute knowledge free of charge. Be a <strong>publisher</strong> here and share your expertise.
        </p>
        <p><a class="btn btn-default" href="#">Register</a></p>
    </div>
</div>