@model IEnumerable<EruditionJournal.Models.Category>
@{
    ViewBag.Title = "Categories";
}

<div class="container">
    <h2>Categories</h2>

    <div class="block-link">
        <a href="/Category/Create" class="btn btn-sm btn-default">Add a category</a>
    </div>

    <div class="block-link">
        @if (Model.Count() > 0)
        {
            <em>Click its name below to edit/delete the category</em>
        }
        else
        {
            <em>You do not have any category yet. Add one by clicking the link above.</em>
        }

    </div>

    <div class="container">
        @foreach (var Category in Model)
        {
            <div class="col-md-3 col-sm-4 col-xs-6 category-list">
                <a class="label label-primary category-label" href="/Category/Detail/@Category.CategoryId">@Category.CategoryName</a>
            </div>
        }
    </div>
</div>