
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<form method="post" action="/FileTest" enctype="multipart/form-data">
    <input type="file" />
    <button type="submit" value="submit">Submit</button>
</form>